	<div class="banner-container">
		<div class="banner"></div>
		<div class="banner-content">
			<div>
				<span class="banner-title">All Events</span>
			</div>
			<div>
				<input class="search-bar" placeholder="search" (keyup)="search(input.value)" #input>
			</div>
			<div *ngIf="authInfo?.isEventCreator()" class="new-event-container">
				<button class="btn-black" routerLink="new">New Event</button>
			</div>
		</div>
	</div>
	<table class="list-table table lessons-list card card-strong">
		<tbody>
			<tr *ngFor="let event of filteredEvents" (click)="routeToEventDetail(event?.$key)">
				<td class="event">
					<h3 class="event-td-inner-element"> {{event.title}}</h3>
					<h4 class="event-td-inner-element">{{event.eventStartTime | date: 'yMMMdjms'}}</h4>
					<rsvp-button *ngIf="authInfo?.isLoggedIn()" class="event-td-inner-element" [event]="event"></rsvp-button>
					
				</td>
			</tr>
		</tbody>	
	</table>