	<div class="banner-container">
		<div class="banner-image-holder">

			<div class="banner"></div>
			<img class="banner-top-image" src="../assets/gauntletlogo.png">


		</div>
		
		<div class="banner-content">
			<div class="cust-table-row">
				<div class="cust-table-cell">
					<div>
						<input class="search-bar" placeholder="search" (keyup)="search(input.value)" #input>
					</div>
					<div *ngIf="authInfo?.isEventCreator()" class="new-event-container">
						<button class="btn-black" routerLink="new">New Event</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	  <div class="container">
		<div class="row">
				<div *ngFor="let event of filteredEvents" class="col-lg-3 col-md-4 col-sm-6  my-2">
					<div  class="card border-secondary" >
							<div class="card-header  text-truncate text-center" data-toggle="tooltip" data-placement="top" data-trigger="hover" title='{{event.title}}'>
							{{event.title}}
							</div>
						<div class="card-body text-center" (click)="routeToEventDetail(event?.$key)">
							<p class="card-text">{{event.eventStartTime | date: 'EEEE, MMMM d, yyyy h:mm a'}}</p>
							<rsvp-button *ngIf="authInfo?.isLoggedIn()" class="event-td-inner-element" [event]="event"></rsvp-button>		  
							<button *ngIf="!authInfo?.isLoggedIn()" type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Log In To RSVP" disabled>RSVP</button>
						
						</div>
						<div class="card-footer text-muted">
								<button #ele *ngIf="authInfo?.isLoggedIn()" (click)="authForCalendar.insertEvent($event,ele, event.title,event.description, event.eventStartTime)" index="0" class="btn btn-primary" data-placement="top" role="button" data-toggle="tooltip" data-trigger="focus" title="Inserting...">Add To Google Calendar</button>
								<button *ngIf="!authInfo?.isLoggedIn()" type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Log In To Use" disabled>Add To Google Calendar</button>
						  </div>
						</div>
				</div>
	  </div>
	</div>

	<!-- <table class="list-table table lessons-list card card-strong">
		<tbody>
			<tr *ngFor="let event of filteredEvents" (click)="routeToEventDetail(event?.$key)">
				<td class="event">
					<h3 class="event-td-inner-element"> {{event.title}}</h3>
					<h4 class="event-td-inner-element">{{event.eventStartTime | date: 'EEEE, MMMM d, yyyy h:mm a'}}</h4>
					<rsvp-button *ngIf="authInfo?.isLoggedIn()" class="event-td-inner-element" [event]="event"></rsvp-button>
					
				</td>
			</tr>
		</tbody>	
	</table> -->