<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<img class="rounded float-left d-block m-1" style="width: 40px; height: 40px;" src="../assets/gauntletlogo.png">
<a class="navbar-brand float-left ml-1" href="#">Gauntlet Hangouts</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
                <li  class='nav-item' *ngIf="authInfo?.isLoggedIn()">
                    <a class="nav-link" routerLink="my-account" routerLinkActive="active">My Account</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link" routerLink="events" routerLinkActive="active">Events</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link" routerLink="calendar" routerLinkActive="active">Calendar</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link" routerLink="all-events-info" routerLinkActive="active">All Events Info</a>
                </li>
                <li  class='nav-item' *ngIf="!authInfo?.isLoggedIn()">
                    <a class="nav-link" routerLinkActive="active" (click)="login()" >Login</a>
                </li>
                <li  class='nav-item' *ngIf="authInfo?.isLoggedIn()">
                    <a class="nav-link" *ngIf="authInfo?.isLoggedIn()" (click)="logout()">Logout</a>
                </li>
                <li  class='nav-item' *ngIf="authInfo?.isAdmin()">
                    <a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a>
                </li>

            </ul>
            <a  class="navbar-text" href="http://www.gauntlet-rpg.com/" target="_blank">Visit gauntlet-rpg.com</a>

        
    <!-- <div class="navbar-nav">
    <a class="nav-item nav-link" href="http://www.gauntlet-rpg.com/" target="_blank">To gauntlet-rpg</a>
    <a class="nav-item nav-link" *ngIf="authInfo?.isLoggedIn()" routerLink="my-account" routerLinkActive="menu-active">My Account</a>
    <a class="nav-item nav-link active" routerLink="events" routerLinkActive="menu-active">Events</a>
    <a class="nav-item nav-link" routerLink="calendar" routerLinkActive="menu-active">Calendar</a>
    <a class="nav-item nav-link" routerLink="all-events-info" routerLinkActive="menu-active">All Events Info</a>
    <a class="nav-item nav-link" *ngIf="!authInfo?.isLoggedIn()" routerLinkActive="menu-active" (click)="login()" >Login</a>
    <a class="nav-item nav-link"  *ngIf="authInfo?.isLoggedIn()" (click)="logout()">Logout</a>
    <a class="nav-item nav-link" *ngIf="authInfo?.isAdmin()" routerLink="admin" routerLinkActive="menu-active">Admin</a>
    </div> -->

</div>
</nav>

<!-- <header class="top-menu-header v-center-parent">
     <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
 
    <ul class="top-menu disable-link-styles">
        <li>
            <img class="rounded mx-auto d-block m-1" style="width: 40px; height: 40px;" src="../assets/gauntletlogo.png">
        </li>

        <li *ngIf="authInfo?.isLoggedIn()">
            <a *ngIf="authInfo?.isLoggedIn()" routerLink="my-account" routerLinkActive="menu-active">My Account</a>
        </li>
        <li>
            <a routerLink="events" routerLinkActive="menu-active">Events</a>
        </li>
        <li>
            <a routerLink="calendar" routerLinkActive="menu-active">Calendar</a>
        </li>
        <li>
            <a routerLink="all-events-info" routerLinkActive="menu-active">All Events Info</a>
        </li>
        <li *ngIf="!authInfo?.isLoggedIn()">
            <a *ngIf="!authInfo?.isLoggedIn()" routerLinkActive="menu-active" (click)="login()" >Login</a>
        </li>
        <li *ngIf="authInfo?.isLoggedIn()">
            <a *ngIf="authInfo?.isLoggedIn()" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="authInfo?.isAdmin()">
            <a *ngIf="authInfo?.isAdmin()" routerLink="admin" routerLinkActive="menu-active">Admin</a>
        </li>
        <li class="gauntlet-link">
            <a href="http://www.gauntlet-rpg.com/" target="_blank">To gauntlet-rpg.com</a>
        </li>
    </ul>

</header> -->
