<header class="top-menu-header v-center-parent">
<!--     <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
 -->
    <ul class="top-menu disable-link-styles">
        <li *ngIf="authInfo?.isLoggedIn()">
            <a routerLink="my-account"
               routerLinkActive="menu-active">My Account</a>
        </li>
        <li>
            <a routerLink="events"
               routerLinkActive="menu-active">Events</a>
        </li>
        <li>
            <a routerLink="calendar"
               routerLinkActive="menu-active">Calendar</a>
        </li>
        <li *ngIf="!authInfo?.isLoggedIn()">
            <a routerLinkActive="menu-active" (click)="login()" >Login</a>
        </li>
        <li *ngIf="authInfo?.isLoggedIn()">
            <a (click)="logout()">Logout</a>
        </li>
        <li *ngIf="authInfo?.isAdmin()">
            <a routerLink="admin"
               routerLinkActive="menu-active">Admin</a>
        </li>
    </ul>

</header>
