	<div class="banner-container">
		<div class="banner"></div>
		<div class="banner-content">
			<div class="cust-table-row">
				<div class="cust-table-cell">		
			<div>
				<span class="banner-title">Admin Page</span>
			</div>
			</div>
			</div>
		</div>
	</div>
<div class="navButtons">
	<button class="btn-black" (click)="switchView('admin')" [class.active]="listView === 'admin'">Admins</button>
		<button class="btn-black" (click)="switchView('eventCreator')" [class.active]="listView === 'eventCreator'">Event Creators</button>
		<button class="btn-black" (click)="switchView('patreon7Member')" [class.active]="listView === 'patreon7Member'">Patreon Members</button>
		<!-- <button class="btn-black" (click)="switchView('stats')" [class.active]="listView === 'stats'">Stats</button> -->
</div>

<div *ngIf="listView != 'stats'" class="listView">
<span class="list-title">
<h3>{{trueAttributeTitle}}</h3>
<table  class="list-table table lessons-list card card-strong">
	<tbody>
		<tr class="title-row" *ngFor="let user of trueAttributeUsers" (click)="updateAttributeStatus(user?.$key,listView,false)">
			<td class="event-title"><h3> {{user?.displayName}}</h3></td>
		</tr>
	</tbody>	
</table>
</span>
<span class="list-arrows">
	<div>&larr;</div>
	<div>&rarr;</div>
</span>
<span class="list-title">
<h3>{{falseAttributeTitle}}</h3>
<table  class="list-table table lessons-list card card-strong">
	<tbody>
		<tr class="title-row" *ngFor="let user of falseAttributeUsers" (click)="updateAttributeStatus(user?.$key,listView,true)">
			<td class="event-title"><h3> {{user?.displayName}}</h3></td>
		</tr>
	</tbody>	
</table>
</span>
</div>
<div *ngIf="listView == 'stats'" class="listView">AveRSVPS:{{aveRsvps}}</div>
<!-- <div *ngIf="isChrome">This is a Chrome Browser</div>
<div *ngIf="isSafari">This is a Safari Browser</div> -->
