a.ui-datepicker-next.ui-corner-all {
    top: 3pt;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-right: 4px solid black;
    border-top: 4px solid black;
    transform: rotate(45deg);
    margin-right: 5px;
}

.fa.fa-angle-right {
    display: none !important;
}


.ui-datepicker-prev.ui-corner-all {
    top:3pt !important;
    content: "";
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(45deg);
    margin-left: 5px;
}
                        
.fa.fa-angle-left {
    display: none !important;
}

p-calendar > span > div > div.ui-timepicker.ui-widget-header.ui-corner-all > div.ui-hour-picker > a:nth-child(1) {
    top:3pt;
    content: "";
    width: 8px !important;
    height: 8px !important;
    border-left: 4px solid black;
    border-top: 4px solid black;
    transform: rotate(45deg);
    margin-left: 5px;
}

p-calendar > span > div > div.ui-timepicker.ui-widget-header.ui-corner-all > div.ui-minute-picker > a:nth-child(1) {
    top:3pt;
    content: "";
    width: 8px !important;
    height: 8px !important;
    border-left: 4px solid black;
    border-top: 4px solid black;
    transform: rotate(45deg);
    margin-left: 5px;
}

p-calendar > span > div > div.ui-timepicker.ui-widget-header.ui-corner-all > div.ui-hour-picker > a:nth-child(4) {
    top:3pt;
    content: "";
    width: 8px !important;
    height: 8px !important;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(45deg);
    margin-left: 5px;
}

p-calendar > span > div > div.ui-timepicker.ui-widget-header.ui-corner-all > div.ui-minute-picker > a:nth-child(4) {
    top:3pt;
    content: "";
    width: 8px !important;
    height: 8px !important;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    transform: rotate(45deg);
    margin-left: 5px;
}
.fa.fa-angle-up {
    display: none !important;
}

.fa.fa-angle-down {
    display: none !important;
}

.banner-container {
    text-align: center;
    margin-bottom: 40px;
}

.banner {
    filter:blur(20px);
    width: 100%;
    height:50vmin;
    max-height: 400px;
    background-size:100%;
    background-position: center;
    background-color: #232b2b;
    background-repeat: no-repeat;
    background-image:url('gauntletlogo.png');
    position: absolute;
    
}

.banner-top-image{
    border-radius: 10px;
    width: 40vmin;
    height: 40vmin;
    position: absolute;
    margin: 70px auto auto auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cust-table-row {
    display: table-row;
}
.cust-table-cell {
    display: table-cell;
    /*vertical-align: middle;
    padding-top: 12vmin;*/
}
.banner-content {
    padding-top: 50vmin;
    display: table;
    color: black;
    width: 100%;
    text-align: center;
}

.banner-title {
    text-transform: none;
    font-size: 15vmin;
    vertical-align: middle;
}

.banner-event-title {
    text-transform: none;
    /* font-size: 4vmin; */
    vertical-align: middle;
}
.patreon-container {
    text-align: center;
    margin-top: 10px;
}
.patreon-logo {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 144px;
    height: 77px;
    background-image:url('patreonlogo.png');
}
.patreon-logo a {
    width: inherit;
    height: inherit;
}
.main-container {
    text-align: center;
}

.btn-black{
    border-color:#404040;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-radius: 10px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; color: #FFFFFF;
    background-image: linear-gradient(to bottom, #484848 , #787878);
}

.btn-black:hover{
   border-color:#404040;
   border-width: 0px 0px 2px 0px;
   border-style: solid;
   background-color: #819BCB;
   background-image: linear-gradient(to bottom, #787878, #484848 );
}


.list-title {
    width: 90vmin;
    max-width: 400px;
}
.list-arrows {
    vertical-align: -75px;
}
.list-table{
   /* margin:0;
   padding:0;
    width: 100% !important;*/
}

.lesson {
    margin: 25px auto 0 auto;
    max-width: 350px;
}

.lessons-list {
    padding: 10px 10px 0 10px;
    /*display: table-cell;*/
    margin-bottom: 15px;
}

.lessons-list tr {
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}

.lessons-list td {
    padding-bottom: 5px;
}

.lesson-logo {
    height: 20px;
    margin-right: 10px;
}

.add-lesson {
    width: 350px;
    margin-bottom: 15px;
}

.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.collapsible-indicator {
    font-size: 30px;
    line-height:30px;
}


.collapsible-section {
    padding: 0 20px 20px 20px;
}

.collapsed .collapsible-section {
    display: none;
}


.disable-text-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.course-logo {
    height: 75px;
    margin: 0 auto;
    background-color: #FAFAFA;
    background-image: url(https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 65px;
    background-position-y: center;
}

form label {
    /*width: 100px;*/
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-right: 5px;
}

.field-error-message {
    text-align: right;
    padding-right: 68px;
    font-size: 16px;
    color: #a10000;
}

form fieldset {
    margin-bottom: 20px;
}

form textarea {
    /*width: 170px;*/
}

form input[type='radio'] {
    box-shadow: none;
    /*width: 20px;*/
    vertical-align: bottom;
    margin-left: 10px;
}

form button[type='submit'] {
    float: right;
    margin-right: 75px;
}

.debug {
    clear: both;
    font-size: 14px;
}

.debug h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.form-field {
    margin-bottom: 15px;
}

.lesson-button {
    background: #1976d2;
    color: white;
    font-weight: bold;
}

.lesson-button[disabled] {
    background: grey;
    color: white;
    cursor: not-allowed;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}


.top-menu {
    margin-bottom: 20px;
}




.ng-dirty.ng-invalid {
    border: 2px solid #ff2118;
}

.ng-touched.ng-invalid {
    border: 1px solid #cccccc !important;
}


form.ng-dirty.ng-invalid {
    border:none;
}

form.ng-touched.ng-invalid {
    border:none !important;
}

.l-header img {
    cursor: pointer;
}

.youtube-logo {
    max-height: 100px;
    border-radius: 4px;
}

.lessons-list {
    text-align: left;
}

.home-screen {
    margin-top: 50px;
}

.courses-list {
    padding: 5px 10px;
    text-align: left;
}


table.courses-list tr {
    border-bottom: 1px solid darkgray;
}

table.courses-list tr td {
    padding: 5px 0;
}

table.courses-list tr td.description {
    padding-right: 15px;
}

table.courses-list tr td:first-child {
    padding-left: 15px;
}

table.courses-list tr td:last-child {
    padding-right: 15px;
}

ul.top-menu > li > a.menu-active {
    color: #ee1c1b;
    font-weight: bold;
    text-decoration: underline;
}

.nav-button {
    margin-bottom: 20px;
}

.playlist {
    float: right;
}




.nav-fields {
    margin-bottom: 40px;
}

.course-summary {
    cursor: pointer;
}

.chat {

}

img.dashboard-section  {
    display: block;
    max-height: 300px;
    margin: 0 auto 50px auto;

}

.toggle-buttons {
    margin-bottom: 15px;
}

.graph-toggle {
    width: 30px;
    box-shadow: none;
    vertical-align: bottom;
}



.l-header {
    height: 58px;
}

.top-menu {
    margin-left: 50px;
}

.top-menu li {
    box-shadow: none !important;
}

.l-sample-app {
    text-align: center;
}

.tools-bar {
    text-align: right;
    margin-top: 30px;
}

.login-form {
    width: 350px;
}

.search-bar {
    margin-bottom: 30px;
    width: 250px;
}

