  <div class="banner-container">
    <div class="banner-image-holder">

      <div class="banner"></div>
      <img class="banner-top-image" src="../assets/gauntletlogo.png">


    </div>
    <div class="banner-content">
      <div class="cust-table-row">
        <div class="cust-table-cell">
          <div>
            <a href="https://plus.google.com/u/0/communities/116329047011220562548" target="_blank">
              <span class="btn-black">Join the Community!</span></a>
            </div>
            <div class="patreon-container">
              <span class="patreon-logo">
                <a href="https://www.patreon.com/gauntlet" target="_blank"></a>
              </span>
            </div>
            <div>
            <a href="http://www.gauntlet-rpg.com/gauntlet-con.html" target="_blank">
              <span class="btn-reg btn-black">Register for GauntletCon</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h1>Play Games With the Gauntlet!</h1>
      <span class="welcome-text">
        Welcome to the Gauntlet Con Game Schedule! Feel free to browse our games on the Calendar or Events tab. If you would like to join a game and are a Gauntlet Patron, please login using a Gmail account so our organizers can invite you to the Google Hangout Video Calls we use for our games. If you are not a Patron, please register for Gauntlet Con through www.gauntlet-rpg.com. To join an event, click on the RSVP button after you are logged in. Feel free to join the Waitlist if a game is full as the RSVP list changes regularly. To be notified when new games hit the calendar, join the Gauntlet Hangouts Community on G+ (be sure to turn notifications ON).
      </span>
    </div>

    <div *ngIf="events != undefined" class="container">
      <div class="row text-center">
        <div class="col-md-4">
         <div class="btn-group">
           <div class="btn-black previous" (click)="decrement()">
             Previous
           </div>
<!--            <div class="btn-black" (click)="today()">
             Today
           </div> -->
<!--            <div class="btn-black" (click)="increment()">
             Next
           </div> -->
         </div>
       </div>
       <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
           <div class="btn-black next" (click)="increment()">
             Next
           </div>
          <!-- <div class="btn-black" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
          <div class="btn-black" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
          <div class="btn-black" (click)="view = 'day'" [class.active]="view === 'day'">Day</div> -->
        </div>
      </div>
    </div>
    <br>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
  *ngSwitchCase="'day'"
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-day-view>
</div>
</div>