h3 {
  margin: 0;
}
.container {
  padding-bottom: 50px;
}

.main-container .list {
    max-width: none;
}

a {
	color: white;
}

.welcome-text {
	width: 600px;
	text-align: justify;
	margin-bottom: 80px;
}

.community-btn {
    width: 144px;
    height: 77px;
}

.previous {
	width: 150px;
}

.next {
	width: 150px;
}